

/*================================================================================*/
/*Gestion Couleurs, Fonts*/

:root {
  /* Styles pour le mode sombre */
  --Dbackgound: #030422;
  --DbackgoundSubtle: #1B1525;
  --DUIbackground: #080938;
  --DUIbackgroundHover:  #33255B;
  --DUIbackgroundActiveSelected:  #3C2E69;
  --DBorderSeparatorSubtle:  #def4ff46;
  --DUIBorderFocusRing: #56468B;
  --DUIBorderHover: #6958AD;
  --DSolidBackground: #1F6692;
  --DSolidBackgroundHover: #1B537B;
  --DLowContrastText: #def4ff;
  --DHighContrastText: #75C7F0;

    /* Styles pour le mode clair */
    --Cbackgound: #FDFCFE;
    --CbackgoundSubtle: #FAF8FF;
    --CUIbackground: #F4F0FE;
    --CUIbackgroundHover:  #EBE4FF;
    --CUIbackgroundActiveSelected: #E1D9FF;
    --CBorderSeparatorSubtle: #D4CAFE;
    --CUIBorderFocusRing: #C2B5F5;
    --CUIBorderHover: #AA99EC;
    --CSolidBackground: #6E56CF;
    --CSolidBackgroundHover:#3c1dba;
    --CLowContrastText: #000000;
    --CHighContrastText: #2F265F;
}

@font-face {
  font-family: "FontTitre";
  src: url('Fonts/NTR-Regular/NTR-Regular.ttf') format("truetype");

  font-family: "FontTexte";
  src: url('Fonts/NTR-Regular/NTR-Regular.ttf') format("truetype");
}

/*================================================================================*/
/*Gestion Jour et Nuit*/

body.DayMode, header.DayMode, nav.DayMode, .BtnLink .DayMode
{background: var(--Cbackgound);
color: var(--CLowContrastText);}

body.DarkMode, header.DarkMode, nav.DarkMode a, .BtnLink .DarkMode
{background: var(--Dbackgound);
color: var(--DLowContrastText);}


h1.DayMode,h2.DayMode,h3.DayMode,h4.DayMode,h5.DayMode,h6.DayMode
{color: var(--CLowContrastText);
font-family: "FontTitre";}

h1.DarkMode,h2.DarkMode,h3.DarkMode,h4.DarkMode,h5.DarkMode,h6.DarkMode
{color: var(--DHighContrastText);
font-family: "FontTitre";}

#titreNom.DarkMode
{
  background: linear-gradient(90deg, var(--DHighContrastText) 25%, var(--DLowContrastText) 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.btnsContact.DarkMode a, .projectsCards.DarkMode a
{ background: var(--DSolidBackground);
  color: var(--DLowContrastText);}

.btnsContact.DarkMode a:hover, .projectsCards.DarkMode a:hover
{background: var(--DSolidBackgroundHover);}

.ShowMoreProject.DarkMode
{  content: url("Pictures/Whiteagrandifenetre.png");}

.numberNav
{  color: var(--DHighContrastText);}

/*================================================================================*/


header
{   font-family: "FontTexte";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  transition: transform 0.25s, height 0.25s, color 0.25s, background 0.25s;
}

header span {width: 50px;margin-left: 15px;}
header img {width: 100%;}

nav
{ font-size: 1.5em; width: auto; font-weight:500;margin-right: 15px;}

nav a:not(#Contact) {margin-right: 5px;}

#Flags {right: 15px; top:15px; position: absolute; width: 40px;   cursor: pointer;}
#Travaux {left:0; top:0; position: absolute; width: 95px;z-index: 4;}
#Travaux + p {transform: rotate(-45deg);font-size: 0.5em;color: yellow; left: -18px;top:28px;position: absolute;z-index: 3;opacity: 0;transition: font-size 0.5s, opacity 1s;}
#Travaux:hover + p {opacity: 1;font-size: 1.5em;}


#Intro h3 {line-height: 1.2;font-size: 0.6em;font-weight: 400;height: 25px; padding-left: 5px;border-radius: 3px;width: 50%;}
#Intro h1 {font-size: 3em;line-height: 0.75;margin-top: 0px;margin-bottom: 40px;}
#Intro p {font-size: 1.5em;line-height: 0.80;margin-bottom: 0;margin-top: 0px;}


body, html
{
  width: 100%;
  margin: 0;
  scroll-behavior: smooth;
 /*Le Bug de auteur de détection de hover pour les <a> hors nav viens de la=>  font-family:  'FontTexte'; */
 /* cursor: url('Pictures/Cursor01.png'), default;*/
}

#Accueil,#Skills,#Projects, #Contact
{
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:  auto;
  margin-top: 0;
}

#Accueil,#Skills,#Projects
{margin-top: 5vh;}
#Skills,#Projects
{display: block;}
#skillsNavTarget, #Contact
{margin-top: 25vh;}

#Intro
{margin-left: 15px;
 font-size : clamp(2em, 2.5vw, 2.5em);
 width: 80%;
}

.button{
  left: 0;
  top:74px;
  border-radius: 500px;
  color: white;
  padding-bottom: -2em;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  border-radius: 500px;
  left: 0;
  top:74px;
  width: 100%;
  height: 78%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px var(--DHighContrastText);
}

.button:active:after {
  box-shadow: 0 0 0 0 var(--DLowContrastText);
  position: absolute;
  border-radius: 500px;

  opacity: 1;
  transition: 0s;
}

.btnsContact
{ 
  margin-top: 5%;
  display: inline-block;
}

a {margin-top: 0; margin-bottom: 0;  padding: 0;display: inline-block !important;}

.btnsContact a  {
text-decoration: none;
height: 50px;
line-height: 50px; 
display: inline-block; 
margin:0;
padding: 0;
font-size: 20px;
padding-left: 15px;
padding-right: 15px;
margin-top: 5px;
border-radius: 25px;}

.btnsContact a img { margin-top: -5px; vertical-align: middle; width: 30px; height: 25px;}

.btnsContact a img.SquareIcon {height: 30px;}




#containerImageMoi
{margin-left: 15%; margin-top: 100px;}


#ImageMoi
{
  width: 65%;
  user-select: none;
  position: relative;
  min-width: 250px;
  border-radius: 600px;
  opacity: 1;
  margin-bottom: 0;
  cursor: pointer;
}

#ImageMoi:hover
{
  content: url("Pictures/ImageMoiDarkPixel.png");
}

#skillsNavTarget{margin-top: 25vh;}
.separator{opacity: 0;user-select: none;}


#Skills div h1 {text-align: center;font-size: 3.5em;line-height: 1;margin-bottom: 0px;}
#Skills div h2 {text-align: center;margin-bottom: 40px; width: 80%; margin: auto;}

#Skills > div+div {display: flex; justify-content: space-evenly;align-items: start; flex-wrap: wrap;}

#Languages, #Other, #TroisWA
{ width: 30%;
  min-width: 200px;
  font-size: 1.5em;
/*background: var(--DUIbackground);*/
padding: 5px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 20px;
}

#Languages > p,#TroisWA > p,#Other > p {font-size: 1.8em; margin: auto;text-align: center;margin-bottom: 30px;}
#Languages > div {margin: auto;width: 200px;}
#TroisWA > div {margin: auto;width: 270px;}
#Other > div {margin: auto;width: 185px;}
.skillslines {margin-top: 15px;}
.skillslines > img {vertical-align: middle;width: 20px; height: 20px;margin-right: 5px;}
.skillslines > p {display: inline-block; margin: 0;vertical-align: middle;}
.skillslines > p span {font-size: 0.5em}  
.skillslines > p span:not(.text) { opacity: 0.2;}  

#TroisWA
{min-width: 265px;}

.HoverSkill
{opacity: 0.3;
transition: opacity 0.3s;}

.HoverSkill:hover
{opacity: 1;}

#Html,#Css,#Javascript,#PHP
{  opacity: 0;
   position: absolute;
   display: inline-block;
   transition: opacity 0.1s;}

#WhiteHtml:hover ~ #Html, #WhiteCss:hover ~ #Css, #WhiteJs:hover ~ #Javascript, #WhitePHP:hover ~ #PHP
{opacity: 1; }

#Projects > h1 {text-align: center;font-size: 3.5em;line-height: 1;margin: auto;;margin-bottom: 40px;}

#Projects > div {display: flex; justify-content: space-evenly;align-items: center; flex-wrap: wrap;}

#harpoon, #cleanningRoad, #ficheCustom
{position: relative;
width: 23%;
min-width: 230px;
font-size: 1.1em;
background: var(--DUIbackground);
padding: 15px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 20px;
border-radius: 15px;}

.ShowMoreProject
{
  display: inline-block;
margin: 0;
width: 15px;
height: 15px;
text-align: center;
vertical-align: top; 
position: absolute;  
top: 5px;
right: 5px;
border-radius: 5px;
cursor: pointer;
opacity: 0.65;
transition: height 0.25s, width 0.25s, opacity 0.2s ;
}

.ShowMoreProject:hover
{ opacity: 1;}


.projectsCards:hover .ShowMoreProject
{width: 20px;
height: 20px;}



.ShowMoreProject + div
{display: none;}

.projectsCards, #imageWindows
{ border:  var(--DBorderSeparatorSubtle) 1px ridge;
  box-shadow : rgba(0, 0, 0,0.3) 0px 3px 5px;}

.projectsCards *
{padding: 3px;}

.projectsCards p:first-child 
{font-size: 1.5em; margin: auto; display: inline-block;}

.projectGif
{ display: inline-block; width:30px; height: 30px; margin-bottom:-5px; }

.projectsCards:not(:hover) .projectGif
{
  animation-name: Giftransition; 
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.LinkOfProject
{display: flex; justify-content: space-evenly;align-items: center;}
.LinkOfProject img
{margin-top: -5px;vertical-align: middle;width: 25px; height: 25px;padding-left: 5px;}
.LinkOfProject p
{margin: 0;width: 20%;  display: inline-block; font-size: 2.5vh;}

.projectsCards a
{width: auto; border-radius: 15px; padding: 5px;}

#Contact div {margin: auto;}
#Contact div:nth-child(1) h1 { text-align: center;font-size: 3.5em;line-height: 0.5;margin-bottom: 0px;}
#Contact div:nth-child(1) p { text-align: center;margin-bottom: 10px; font-size: 1.25em;}
#Contact div .btnsContact a {margin-right: 15px;}



#Details {margin: auto;width: 25%;margin-top: 15vh;margin-bottom: 10vh;}
#Details p {margin: auto;text-align: center;}

/*===============================================================================  */

a,#ImageMoi
{text-decoration: none;}


#imageWindows
{ display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80vh;
  transform: translate(-50%, -50%);
  background-color: var(--DUIbackground);
  border-radius: 10px;
  z-index: 10;
  padding : clamp(10px, 2vw, 30px);
}

#imageWindows > div
{ margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;}

  #imageWindows > div > h2 {text-align: center;width: 100%; font-size : clamp(2em, 3.25vw, 3em); margin: auto;}

#imageWindows > div > p:not(#imageFocusClose) {text-align: left;width: 98%;  font-size : clamp(1.25em, 2.5vw, 2em);margin: auto;}

#imageFocus1, #imageFocus2
{ border-radius: 10px;
  width: 49%; 
  height: 49%;
  margin:0;
  position: relative;}

  #imageFocusClose {
    font-size: 25px;
    color: var(--DLowContrastText);
    font-weight: 450;
    text-shadow: 0 0 5px var(--DUIbackground);
    font-family: sans-serif;
    position: absolute;
    margin: 0;
    top: clamp(1px, 0.2vw, 5px);
    right: clamp(1px, 0.2vw, 5px);
    cursor: pointer;
    width: 27px;
    height: 27px;
    text-align: center;
    background: var(--DUIbackground);
    border-radius: 15px;
  }




/*Animations*/
/*=========================================================================*/

@keyframes Giftransition {
  0%   {opacity:0 } 
  100% {opacity:1 }  }

.gradient {
  --size: 250px;
  --speed: 25s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

position: absolute;
margin-top: -50px;
z-index: -1;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsla(244, 85%, 15%, 0.85),rgb(30, 16, 133));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}


/*================================================================================*/
/*Gestion Accéssiilité*/

@media (max-width: 1000px) {
  #imageFocus1 {    width: 100%;  }
  #imageFocus2 {    display: none;  }
}
